@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$bg: rgb(75, 75, 75);
$bg2: rgb(235, 225, 225);
$bg3: rgb(245, 239, 239);
$hText: rgb(245, 240, 240);
$pText: rgb(125, 125, 125);
$headerff: 'Great Vibes', cursive;
$linkff: 'Dancing Script', cursive;
$linkC: rgb(50, 50, 50);
$pinkText: rgb(237, 140, 156);
$pLineC: rgb(194, 194, 194);
$shad: rgba(0, 0, 0, 0.15);
