@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

$bg: rgb(75, 75, 75);
$bg2: rgb(235, 225, 225);
$hText: rgb(245, 240, 240);
$pText: rgb(75, 75, 75);
$headerff: 'Great Vibes', cursive;
$linkff: 'Amatic SC', cursive;
