@import './_config.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $linkff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg2;
  color: $pText;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
