@import './_config.scss';

.RSVP-cont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg3;
  width: 300px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 10px $shad;
  user-select: none;
}

.RSVP-name {
  color: $pinkText;
  font-family: $headerff;
  font-size: 38px;
}

.RSVP-name.tammy {
  margin-top: 10px;
}

.RSVP-name.arthur {
  margin-bottom: 10px;
}

.RSVP-and {
  margin-top: -8px;
  line-height: 20px;
}

.RSVP-end {
  margin-bottom: 10px;
}

.RSVP-option {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.RSVP-options-box {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed $pLineC;
  padding: 5px;
  box-sizing: border-box;
  width: 280px;
  border-radius: 3px;
}

.RSVP-options-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RSVP-option-answer {
  width: 25px;
  height: 25px;
  border: 1px dashed $pLineC;
  position: relative;
  cursor: pointer;
}

.RSVP-option-answer > img {
  position: absolute;
  top: 0;
  width: 40px;
  left: 0;
  opacity: 0.5;
  user-select: none;
}

.RSVP-submit {
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed $pLineC;
  width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: all 0.15s ease-in;
  margin-bottom: 5px;

  &.disabled {
    opacity: 0.25;
  }
}

.RSVP-submit:hover {
  background-color: $pinkText;
  color: $linkC;
}

.RSVP-disclaimer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 18px;
  width: 300px;
  opacity: 0.75;
  user-select: none;
}

.RSVP-options-box > form > input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px dashed $pLineC;
  width: 89%;
  padding: 5px;
  margin-top: 8px;
  box-sizing: border-box;
  font-family: $linkff;
  font-size: 20px;
  color: $pText;
  border-radius: 3px;
  outline: none;
}

.RSVP-options-box > form > input::placeholder {
  color: $pLineC;
}

.RSVP-options-box > form {
  margin-bottom: 5px;
}
