@import './_config.scss';

.Top-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-color: $bg;
  color: $hText;
}

.Top-header {
  font-family: $headerff;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.Top-and {
  font-size: 30px;
  color: pink;
}

.Top-date,
.Top-venue {
  font-family: $linkff;
}

.Top-date {
  font-size: 30px;
  margin-bottom: -5px;
}

.Top-venue {
  font-size: 24px;
  padding-bottom: 25px;
}

.Top-navbar {
  width: 100%;
  display: flex;
  align-items: column;
  justify-content: center;
  background-color: pink;
}

.Top-navbar-text {
  font-family: $linkff;
  font-size: 24px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Top-navbar-text > a,
.Top-navbar-text > a:hover,
.Top-navbar-text > a:visited {
  color: black;
  text-decoration: none;
  transition: all 0.25s linear;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.Top-navbar-text > a:hover {
  background-color: white;
}
