@import './_config.scss';

.Top-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bg;
  color: $hText;
  width: calc(100vw + 2px);
}

.Top-header {
  padding-top: 20px;
  position: relative;
}

.Top-header-cont {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Top-header-text {
  font-family: $headerff;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  z-index: 5;
}

.Top-and {
  font-size: 30px;
  color: pink;
}

.Top-date,
.Top-venue {
  font-family: $linkff;
}

.Top-date {
  font-size: 30px;
  margin-bottom: -5px;
}

.Top-venue {
  font-size: 24px;
  padding-bottom: 25px;
}

.Top-navbar {
  width: 100%;
  display: flex;
  align-items: column;
  justify-content: center;
  background-color: pink;
  padding: 5px;
  box-shadow: 0 2px 10px $shad;
}

.Top-navbar-text {
  font-family: $linkff;
  font-size: 24px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Top-navbar-text > a,
.Top-navbar-text > a:hover,
.Top-navbar-text > a:visited {
  color: $linkC;
  text-decoration: none;
  transition: all 0.25s linear;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.Top-navbar-text > a:hover {
  background-color: white;
}

.Top-roses {
  width: 400px;
  z-index: 1;
  position: absolute;
  top: -70px;
  left: -150px;
  border: 1px solid red;
  opacity: 0.05;
}
